<section class='section-workout-intro'>
  <div class='text-center fs-5 intro-container'>

    {{#if workout}}
      <div class='container'>
        <div class='row rounded-3 border shadow-lg'>
          <div class='col-lg-12 p-3 p-lg-5'>
            {{! WORKOUT TITLE + BUTTONS }}
            <div
              class='d-flex flex-wrap justify-content-between align-items-center mb-1'
            >
              <h4 class='m-0'>Last Workout:
                <span id='last-workout-date' class='text-primary'>{{format_date
                    workout.date
                  }}</span></h4>
            </div>

            {{! WORKOUT TABLE }}
            <table class='table'>
              <thead>
                <tr>
                  <th scope='col'>#</th>
                  <th scope='col'>Data Type</th>
                  <th scope='col'>Data Output</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope='row'>1</th>
                  <td class='text-nowrap'>Total Duration (min)</td>
                  <td>{{workout.totalDuration}}</td>
                </tr>
                <tr>
                  <th scope='row'>2</th>
                  <td class='text-nowrap'>Exercises Performed</td>
                  <td>{{workout.totalExercises}}</td>
                </tr>
                <tr>
                  <th scope='row'>3</th>
                  <td class='text-nowrap'>Total Weight Lifted (lbs)</td>
                  <td>{{workout.totalWeights}}</td>
                </tr>
                <tr>
                  <th scope='row'>4</th>
                  <td class='text-nowrap'>Total Sets Performed</td>
                  <td>{{workout.totalSets}}</td>
                </tr>
                <tr>
                  <th scope='row'>5</th>
                  <td class='text-nowrap'>Total Reps Performed</td>
                  <td>{{workout.totalReps}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr class='my-4 p-0' />
      </div>
    {{else}}
      <h4>Currently you have no workouts...</h4>
    {{/if}}
  </div>

  <div class='px-4 text-center'>
    <button id='btn-create-workout' class='btn btn-success btn-lg'>New Workout</button>
  </div>

</section>