<div class='d-flex flex-wrap align-items-center justify-content-center'>
  <h1 class='text-dark fs-2'>Exercise Date:
    <span class='text-primary'>{{format_date date}}</span></h1>
</div>

{{! BUTTONS ---------------------------- }}

<div class='row align-items-center justify-content-center mt-2 mb-3 gap-2'>
  <button
    type='button'
    class='btn btn-success hist-add-button'
    data-id={{id}}
  >Add</button>
  <button
    type='button'
    class='btn btn-warning hist-update-button'
    data-id={{id}}
  >Update</button>
  <button
    type='button'
    class='btn btn-danger hist-delete-button'
    data-id={{id}}
  >Delete</button>
</div>

<section class='section-workout-intro'>
  <div class='mb-3 text-center fs-5 intro-container'>

    {{#if exercise}}
      {{#each exercise}}
        <div class='container'>
          <section class='row rounded-3 border shadow-lg p-3 p-lg-5'>
            <form class='hist-exercise-forms'>
              <div class='row'>
                {{! EXERCISE TYPE }}
                {{#if type}}
                  <div class='col-sm-12 pt-2'>
                    <label
                      for='{{_id}}'
                      class='form-label d-flex align-items-center justify-content-between'
                    >Exercise Type
                      <button
                        type='button'
                        class='btn btn-danger delete-exercise'
                        data-id={{_id}}
                      >Delete</button>
                    </label>
                    <input
                      id='{{_id}}'
                      class='form-control'
                      type='text'
                      name='type'
                      value='{{type}}'
                      required
                    />
                  </div>
                {{/if}}
                {{! EXERCISE NAME }}
                {{#if name}}
                  <div class='col-sm-12 pt-2 text-start'>
                    <label for='{{_id}}' class='form-label'>Exercise Name</label>
                    <input
                      id='{{_id}}'
                      class='form-control'
                      type='text'
                      name='name'
                      value='{{name}}'
                      required
                    />
                  </div>
                {{/if}}
                {{! EXERCISE WEIGHT }}
                {{#if weight}}
                  <div class='col-sm-12 pt-2 text-start'>
                    <label for='{{_id}}' class='form-label'>Weight (lbs)</label>
                    <input
                      id='{{_id}}'
                      class='form-control'
                      type='number'
                      name='weight'
                      value='{{weight}}'
                      required
                    />
                  </div>
                {{/if}}
                {{! EXERCISE SETS }}
                {{#if sets}}
                  <div class='col-sm-12 pt-2 text-start'>
                    <label for='{{_id}}' class='form-label'>Sets</label>
                    <input
                      id='{{_id}}'
                      class='form-control'
                      type='number'
                      name='sets'
                      value='{{sets}}'
                      required
                    />
                  </div>
                {{/if}}
                {{! EXERCISE REPS }}
                {{#if reps}}
                  <div class='col-sm-12 pt-2 text-start'>
                    <label for='{{_id}}' class='form-label'>Reps</label>
                    <input
                      id='{{_id}}'
                      class='form-control'
                      type='number'
                      name='reps'
                      value='{{reps}}'
                      required
                    />
                  </div>
                {{/if}}
                {{! EXERCISE DURATION }}
                {{#if duration}}
                  <div class='col-sm-12 pt-2 text-start'>
                    <label for='{{_id}}' class='form-label'>Duration (minutes)</label>
                    <input
                      id='{{_id}}'
                      class='form-control'
                      type='number'
                      name='duration'
                      value='{{duration}}'
                      required
                    />
                  </div>
                {{/if}}
                {{! EXERCISE DISTANCE }}
                {{#if distance}}
                  <div class='col-sm-12 pt-2 text-start'>
                    <label for='{{_id}}' class='form-label'>Distance (miles)</label>
                    <input
                      id='{{_id}}'
                      class='form-control'
                      type='number'
                      name='distance'
                      value='{{distance}}'
                      required
                    />
                  </div>
                {{/if}}
              </div>
            </form>
          </section>
          <hr class='mb-4 mt-4' />
        </div>
      {{/each}}
    {{else}}
      <h4>Currently you have no exercises...</h4>
    {{/if}}
  </div>

</section>